PILOTINVO AUTOMATE FLOW/Microsoft.Flow/flows/fb8b9890-2f01-4769-92bd-c57406480eab/definition.json
{"name":"31a77013-6d15-4ebc-a0f5-bf48e3088dee","id":"/providers/Microsoft.Flow/flows/31a77013-6d15-4ebc-a0f5-bf48e3088dee","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Pilot Invoice Extraction Flow","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"af77d876-6644-4196-b87d-e5c42bd3e452","type":"User","tenantId":"ac6dca1b-084c-43da-9f66-c5dac8af41f9"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-09-23T06:04:35.6360345Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"99ae0b45-3cb8-4aec-9b27-cf26c003fb7b"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"file":{"title":"Invoice file","type":"object","x-ms-dynamically-added":true,"description":"Please select an invoice file (supported file formats: .PDF, .PNG, .JPEG)","x-ms-content-hint":"FILE","properties":{"name":{"type":"string"},"contentBytes":{"type":"string","format":"byte"}}}},"required":["file"]}},"description":"To try out this flow, just click Save on the top of this page and then click Test where you will be asked to upload an invoice to process. This flow is provided as a sample, feel free to modify it to tailor it to your needs."}},"actions":{"Extract_information_from_invoices":{"runAfter":{},"metadata":{"flowSystemMetadata":{"portalOperationId":"aibuilderpredict_invoiceprocessingpretrained","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"},"operationMetadataId":"24770c44-604a-42b1-845a-75e28e6ebf12"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_invoiceprocessingpretrained"},"parameters":{"item/requestv2/base64Encoded":"@triggerBody()['file']['contentBytes']","recordId":"5ed4d0fd-e9d4-4026-b09b-71f83ea90c60"},"authentication":"@parameters('$authentication')"},"description":"This action will extract the data from the invoice you upload using Artificial Intelligence. Learn more about its capabilities at https://aka.ms/LearnInvoiceProcessing"},"Get_my_profile_(V2)":{"runAfter":{"Create_HTML_table":["Succeeded"]},"metadata":{"operationMetadataId":"0d332f97-8e9e-4ce7-af63-f28896618955"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"MyProfile_V2"},"parameters":{},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"This action retrieves your email address to be able to send you an email with the extracted information from the invoice."},"Create_HTML_table":{"runAfter":{"Extract_information_from_invoices":["Succeeded"]},"metadata":{"operationMetadataId":"4eb5c399-5d1b-4a5b-887e-55d15968210e"},"type":"Table","inputs":{"from":"@outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/items']","format":"HTML","columns":[{"header":"Description","value":"@item()?['fields/description/valueText']"},{"header":"TotalDay(s)","value":"@item()?['fields/quantity/valueText']"},{"header":"Amount","value":"@{outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/amountDue/currencySymbol']}@{outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/amountDue/valueText']}"},{"header":"RatePerDay","value":"@item()?['fields/unitPrice/valueText']"}]},"description":"This action puts the line items present on the invoice in a table that will be sent to you by email."},"Apply_to_each":{"foreach":"@outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/items']","actions":{"Send_an_email_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"f577566c-ffa3-4bac-a1a0-8cd57471ec07"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_my_profile_(V2)')?['body/mail']","emailMessage/Subject":"New Invoice For Piloting Service","emailMessage/Body":"<p><span style=\"font-size: 16px\">Dear Sir,<br>\nGood day. Please find the below details of the invoice.<br>\n<br>\n</span><span style=\"font-size: 16px; color: rgb(226,80,65)\"><u><strong>Invoice Details</strong></u></span><span style=\"font-size: 16px\"><br>\n<br>\n</span><span style=\"font-size: 16px\"><strong>Invoice ID:</strong></span><span style=\"font-size: 16px\"> </span><span style=\"font-size: 16px\">@{outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/invoiceId/valueText']}</span><span style=\"font-size: 16px\"></span><span style=\"font-size: 16px\"><strong><br>\n</strong></span><span style=\"font-size: 16px\"><br>\n</span><span style=\"font-size: 16px\"><strong>Invoice Date</strong></span><span style=\"font-size: 16px\">: </span><span style=\"font-size: 16px\">@{outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/invoiceDate/valueText']}</span><span style=\"font-size: 16px\"><br>\n<br>\n</span><span style=\"font-size: 16px\"><strong>Service Start Date:</strong></span><span style=\"font-size: 16px\"> </span><span style=\"font-size: 16px\">@{outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/serviceStartDate/valueText']}</span><span style=\"font-size: 16px\"><br>\n<br>\n</span><span style=\"font-size: 16px\"><strong>Service End Date: </strong></span><span style=\"font-size: 16px\"></span><span style=\"font-size: 16px\">@{outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/serviceEndDate/valueText']}</span><span style=\"font-size: 16px\"><br>\n<br>\n</span><span style=\"font-size: 16px\"><strong>Due Date: </strong></span><span style=\"font-size: 16px\"><strong>@{outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/dueDate/valueText']}</strong></span><span style=\"font-size: 16px\"><strong></strong></span><span style=\"font-size: 16px\"><br>\n<br>\n</span><span style=\"font-size: 16px\"><strong>Total Due</strong></span><span style=\"font-size: 16px\">: </span><span style=\"font-size: 16px\">@{outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/invoiceTotal/valueText']}</span><span style=\"font-size: 16px\"><br>\n<br>\n</span><span style=\"font-size: 16px\"><strong>Balance Due: </strong></span><span style=\"font-size: 16px\"><strong>@{outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/amountDue/valueText']}</strong></span><span style=\"font-size: 16px\"><strong></strong></span><span style=\"font-size: 16px\"><br>\n<br>\n</span><span style=\"font-size: 16px\"><strong>Payment: </strong></span><span style=\"font-size: 16px\"><strong>@{outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/paymentTerms/valueText']}</strong></span><span style=\"font-size: 16px\"><strong></strong></span><span style=\"font-size: 16px\"><br>\n<br>\n</span><span style=\"font-size: 16px\">@{body('Create_HTML_table')}</span><span style=\"font-size: 16px\"><br>\n<br>\n</span><span style=\"font-size: 16px\"><strong>Thanks &amp; Regards</strong></span><span style=\"font-size: 16px\"><br>\n</span></p>","emailMessage/From":"@outputs('Get_my_profile_(V2)')?['body/mail']","emailMessage/Cc":"SyedMdMarufHasan@websoftau2023.onmicrosoft.com","emailMessage/Attachments":[{"Name":"@string(triggerBody()?['file']?['name'])","ContentBytes":"@triggerBody()['file']['contentBytes']"}],"emailMessage/Importance":"High"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Get_my_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"4797a83a-a9b3-474f-814d-cb6d87df6a43"},"type":"Foreach"},"Apply_to_each_2":{"foreach":"@outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/items']","actions":{"Create_item":{"runAfter":{},"metadata":{"operationMetadataId":"1d330dfe-cdfd-4719-87d8-223df73a793f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://websoftau2023.sharepoint.com/sites/MySite","table":"6e056212-7331-4d06-8462-f82b3e2790fa","item/Title":"@outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/invoiceId/valueText']","item/InvoiceDate":"@outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/invoiceDate/valueText']","item/Client":"@outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/dueDate/valueText']","item/Description":"@outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/invoiceTotal/valueText']","item/BalanceDue":"@outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/amountDue/valueText']","item/PaymentTerm":"@outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/paymentTerms/valueText']","item/StartDate":"@outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/serviceStartDate/valueText']","item/ServiceEndDate":"@outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/serviceEndDate/valueText']","item/Description0":"@items('Apply_to_each_2')?['fields/description/valueText']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Get_my_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"f1bad1e0-26fe-44d5-a4c1-d1fe20db03d7"},"type":"Foreach"}},"outputs":{},"description":"Click a button to quickly extract information from invoices using Artificial Intelligence and send the results by email. First time using AI Builder Invoice Processing? Learn more at https://aka.ms/LearnInvoiceProcessing"},"connectionReferences":{"shared_commondataserviceforapps":{"connectionName":"shared-commondataser-793d7bbe-947f-4511-b2c1-f212cc7e8e55","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","tier":"NotSpecified"},"shared_office365users":{"connectionName":"db792c013f22424f9ab02323e796a51f","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"},"shared_office365":{"connectionName":"7501efb870274d6aa7658161e8ec037f","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"0aa7d57d4bb548a8be563c7061de7405","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}